{% extends "base.html" %}

{% block body %}

    <div class = "text-center">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam similique porro atque quis?
         Ullam omnis harum ipsam veniam quis doloremque.</p>

         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur inventore, 
            neque odio dolorem deleniti dolorum qui expedita nesciunt alias sit fugit modi incidunt placeat reiciendis 
            autem, nulla distinctio maiores quae.</p>

    </div>
{% endblock body %}

